In [9]:
import pandas as pd

In [10]:
country_gdp = pd.read_csv('countries.csv')

In [11]:
country_gdp.head()

           country code  population  gdp_per_capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

In [12]:
country_gdp.fillna(value='N/A', inplace=True)
country_gdp.head()

           country code   population gdp_per_capita
0      Afghanistan  AFG  3.25266e+07        594.323
1          Albania  ALB  2.88917e+06        3945.22
2          Algeria  ALG  3.96665e+07        4206.03
3  American Samoa*  ASA        55538            N/A
4          Andorra  AND        70473            N/A

In [13]:
country = country_gdp['country'].str.split(pat='*', expand=True)

In [18]:
country.columns.values

array([0, 1], dtype=int64)

In [24]:
country_name = country[0]
country_name.head()

0       Afghanistan
1           Albania
2           Algeria
3    American Samoa
4           Andorra
Name: 0, dtype: object

In [25]:
country_gdp.head()

           country code   population gdp_per_capita
0      Afghanistan  AFG  3.25266e+07        594.323
1          Albania  ALB  2.88917e+06        3945.22
2          Algeria  ALG  3.96665e+07        4206.03
3  American Samoa*  ASA        55538            N/A
4          Andorra  AND        70473            N/A

In [28]:
country_gdp['country_name'] = country_name
country_gdp = country_gdp[['country_name', 'population', 'gdp_per_capita']]
country_gdp.head()

     country_name   population gdp_per_capita
0     Afghanistan  3.25266e+07        594.323
1         Albania  2.88917e+06        3945.22
2         Algeria  3.96665e+07        4206.03
3  American Samoa        55538            N/A
4         Andorra        70473            N/A