In [1]:
import pandas as pd

In [2]:
country_gdp = pd.read_csv('countries.csv')

In [3]:
country_gdp.head()

           country code  population  gdp_per_capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

In [4]:
country_gdp.fillna(value='N/A', inplace=True)
country_gdp.head()

           country code   population gdp_per_capita
0      Afghanistan  AFG  3.25266e+07        594.323
1          Albania  ALB  2.88917e+06        3945.22
2          Algeria  ALG  3.96665e+07        4206.03
3  American Samoa*  ASA        55538            N/A
4          Andorra  AND        70473            N/A

In [5]:
country = country_gdp['country'].str.split(pat='*', expand=True)

In [6]:
country.columns.values

array([0, 1])

In [7]:
country_name = country[0]
country_name.head()

0       Afghanistan
1           Albania
2           Algeria
3    American Samoa
4           Andorra
Name: 0, dtype: object

In [8]:
country_gdp.head()

           country code   population gdp_per_capita
0      Afghanistan  AFG  3.25266e+07        594.323
1          Albania  ALB  2.88917e+06        3945.22
2          Algeria  ALG  3.96665e+07        4206.03
3  American Samoa*  ASA        55538            N/A
4          Andorra  AND        70473            N/A

In [9]:
country_gdp['country_name'] = country_name
country_gdp = country_gdp[['country_name', 'population', 'gdp_per_capita']]
country_gdp.head()

     country_name   population gdp_per_capita
0     Afghanistan  3.25266e+07        594.323
1         Albania  2.88917e+06        3945.22
2         Algeria  3.96665e+07        4206.03
3  American Samoa        55538            N/A
4         Andorra        70473            N/A

In [10]:
country_gdp = country_gdp.rename(columns = {'country_name':'country'})

In [11]:
country_gdp

                    country   population gdp_per_capita
0               Afghanistan  3.25266e+07        594.323
1                   Albania  2.88917e+06        3945.22
2                   Algeria  3.96665e+07        4206.03
3            American Samoa        55538            N/A
4                   Andorra        70473            N/A
5                    Angola   2.5022e+07        4101.47
6       Antigua and Barbuda        91818        13714.7
7                 Argentina  4.34168e+07        13431.9
8                   Armenia  3.01771e+06        3489.13
9                     Aruba       103889            N/A
10                Australia  2.37812e+07          56311
11                  Austria  8.61109e+06          43775
12               Azerbaijan  9.65135e+06        5496.34
13                  Bahamas       388019        22817.2
14                  Bahrain  1.37724e+06        22600.2
15               Bangladesh  1.60996e+08         1211.7
16                 Barbados       284215        15429.3
17                  Belarus    9.513e+06        5740.46
18                  Belgium  1.12857e+07          40324
19                   Belize       359287        4878.72
20                  Bermuda        65235            N/A
21                    Benin  1.08798e+07        762.051
22                   Bhutan       774830           2656
23                  Bolivia  1.07247e+07        3076.79
24   Bosnia and Herzegovina  3.81042e+06        4249.33
25                 Botswana  2.26248e+06        6360.14
26                   Brazil  2.07848e+08        8538.59
27   British Virgin Islands        30117            N/A
28                   Brunei       423188        30554.7
29                 Bulgaria  7.17799e+06        6993.48
..                      ...          ...            ...
171                   Sudan  4.02349e+07        2414.72
172                Suriname       542975        9485.32
173               Swaziland  1.28697e+06        3200.14
174                  Sweden  9.79887e+06        50579.7
175             Switzerland  8.28698e+06        80945.1
176                   Syria  1.85024e+07            N/A
177                  Taiwan          N/A            N/A
178              Tajikistan  8.48186e+06        925.912
179                Tanzania  5.34704e+07        878.975
180                Thailand  6.79594e+07        5814.77
181                    Togo  7.30458e+06        559.636
182                   Tonga       106170        4098.54
183     Trinidad and Tobago  1.36009e+06        17321.9
184                 Tunisia  1.11078e+07        3872.51
185                  Turkey  7.86658e+07        9125.69
186            Turkmenistan   5.3735e+06        6672.48
187                  Uganda  3.90324e+07        705.293
188                 Ukraine  4.51982e+07        2114.95
189    United Arab Emirates  9.15696e+06        40438.8
190          United Kingdom  6.51382e+07          43876
191           United States  3.21419e+08        56115.7
192                 Uruguay  3.43156e+06        15573.9
193              Uzbekistan  3.12995e+07        2132.07
194                 Vanuatu       264652        2805.31
195               Venezuela  3.11081e+07            N/A
196                 Vietnam  9.17038e+07        2111.14
197          Virgin Islands       103574            N/A
198                   Yemen  2.68322e+07        1406.29
199                  Zambia  1.62118e+07        1304.88
200                Zimbabwe  1.56028e+07        924.144

[201 rows x 3 columns]